.gridContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 200px 0;
}

#grid {
  height: 500px;
  width: 500px;
  display: grid;
}

.square {
  border: solid 1px;
  flex-grow: 0;
}

.color {
  background-color: #444;
}